%h1 Message for you facility !
%br
%h3 Name :
= @message.name
%br
%h3 Email :
= @message.email
%br
%h3 Estimated Date :
= @message.estimated_date
%br
%h3 Message :
= @message.body

%p
  Best, 
  %br
  Team Support