#sp-c-content
  %ul
    %li
      %big
        %span
          %img{alt: "Avatar", src: "/assets/staff/staff_1.jpg"}
      %div
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut turpis sit amet risus euismod auctor euismod pretium nisi. Ut viverra, libero in pharetra posuere, erat nibh semper risus, id sodales neque eros in nisl. Nam sit amet sapien eleifend, blandit justo vel, convallis libero.
        %strong Kyle (Pasadena, CA)
    %li
      %big
        %span
          %img{alt: "Avatar", src: "/assets/staff/staff_2.jpg"}
      %div
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut turpis sit amet risus euismod auctor euismod pretium nisi. Ut viverra, libero in pharetra posuere, erat nibh semper risus, id sodales neque eros in nisl. Nam sit amet sapien eleifend, blandit justo vel, convallis libero.
        %strong Kyle (Pasadena, CA)
    %li
      %big
        %span
          %img{alt: "Avatar", src: "/assets/staff/staff_3.jpg"}
      %div
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut turpis sit amet risus euismod auctor euismod pretium nisi. Ut viverra, libero in pharetra posuere, erat nibh semper risus, id sodales neque eros in nisl. Nam sit amet sapien eleifend, blandit justo vel, convallis libero.
        %strong Kyle (Pasadena, CA)
    %li
      %big
        %span
          %img{alt: "Avatar", src: "/assets/staff/staff_4.jpg"}/
      %div
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut turpis sit amet risus euismod auctor euismod pretium nisi. Ut viverra, libero in pharetra posuere, erat nibh semper risus, id sodales neque eros in nisl. Nam sit amet sapien eleifend, blandit justo vel, convallis libero.
        %strong Kyle (Pasadena, CA)
    %li
      %big
        %span
          %img{alt: "Avatar", src: "/assets/staff/staff_5.jpg"}
      %div
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut turpis sit amet risus euismod auctor euismod pretium nisi. Ut viverra, libero in pharetra posuere, erat nibh semper risus, id sodales neque eros in nisl. Nam sit amet sapien eleifend, blandit justo vel, convallis libero.
        %strong Kyle (Pasadena, CA)
    %li
      %big
        %span
          %img{alt: "Avatar", src: "/assets/staff/staff_6.jpg"}
      %div
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut turpis sit amet risus euismod auctor euismod pretium nisi. Ut viverra, libero in pharetra posuere, erat nibh semper risus, id sodales neque eros in nisl. Nam sit amet sapien eleifend, blandit justo vel, convallis libero.
        %strong Kyle (Pasadena, CA)