#footer
  .container
    .footer-menu.fm-1
      %strong Quick Links
      %ul
        %li
          %a{href: "#", title: "home for grandma"} Lorem Ipsum
        %li
          %a{href: "#", title: "home for grandma"} Lorem Ipsum
        %li
          %a{href: "#", title: "home for grandma"} Lorem Ipsum
        %li
          %a{href: "#", title: "home for grandma"} Lorem Ipsum
        %li
          %a{href: "#", title: "home for grandma"} Lorem Ipsum
        %li
          %a{href: "#", title: "home for grandma"} Lorem Ipsum
        %li
          %a{href: "#", title: "home for grandma"} Lorem Ipsum

    .footer-menu.fm-2
      %strong Quick Links
      %ul
        %li
          %a{href: "#", title: "Company Profile"} Company Profile
        %li
          %a{href: "#", title: "Our Partners"} Our Partners
        %li
          %a{href: "#", title: "Our Costumers"} Our Costumers
        %li
          %a{href: "#", title: "Awards"} Awards
        %li
          %a{href: "#", title: "Frequently Asked Questions"} Frequently Asked Questions
        %li
          %a{href: "#", title: "Carreers... We're Hiring!"} Carreers... We're Hiring!
        %li
          %a{href: "#", title: "News & Press"} News & Press

    .footer-menu.fm-3
      %strong Quick Links
      %ul
        %li
          %a{href: "#", title: "Accreditations"} Accreditations
        %li
          %a{href: "#", title: "Customers Testimonials"} Customers Testimonials
        %li
          %a{href: "#", title: "Message from our CEO"} Message from our CEO
        %li
          %a{href: "#", title: "Working with Community"} Working with Community
        %li
          %a{href: "#", title: "Employment"} Employment

    .footer-location.fm-4
      %strong Company Location
      %em Home for Grandman
      %span.street 2345 Consectetur Street - Suite 9876 Lorem Ipsum, TX 75201
      %span.tel 800 456 7890
      %span.mail
        %a{href: "contact@homeforgrandman.com", title: "Email-me"} contact@HomeForGrandma.com

    #footer-sub
      %strong
        = image_tag "footer/grandma.png"
        Copyright © 2013 - HomeFroGrandma.com - All Rights Reserved
      %ul#fs-menu
        %li.fsm-1= link_to "Contact Us", contact_path
        %li
          %a{href: "#", title: "Terms & Conditions"} Terms & Conditions
        %li
          %a{href: "#", title: "Privacy Policy"} Privacy Policy

      %ul#fs-social
        %li#twitter
          %a{href: "#", title: "Twitter"} Twitter
        %li#facebook
          %a{href: "#", title: "Facebook"} Facebook
        %li#google
          %a{href: "#", title: "Google Plus"} Google Plus
