#about
  %h2 About Us
  #about-cont
    = image_tag "_temp/10.jpg"
    %p Finding a senior home for your loved ones can be a confusing and difficult process for families. It’s an important decision when you’re deciding on a second home for the ones you love. That’s why we’ve set out to create a tool to help you navigate through the many senior housing options that are out there.
    %p Coming from backgrounds in technology and senior housing we saw the need for an in depth and easy to use service that also rewards our customers for using the website!
    %p It’s a win-win situation. Let our family help yours. Welcome to Home For Grandma.
