#localinformation{style: "border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; box-shadow: rgb(204, 204, 204) 2px 2px 10px;"}
  #content
    %h2{style: "border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;"} Pasadena, CA
    #li-search
      %select{name: ""}
        %option{value: ""} Public Facilities
    / end id li-search
    %img{alt: "Img", src: "assets/_temp/05.jpg"}/
    %p Pasadena is a city in Los Angeles County, California, United States. As of 2010 United States Census, the population of Pasadena was 137,122, making it the 180th-largest city in the United States, down from 168th place in 2009.
    %p Pasadena is the ninth-largest city in Los Angeles County, and on June 19, 1886, became the fourth to be incorporated in Los Angeles County, after Anaheim (February 10, 1870) and Santa Ana (June 1, 1886), both of which were originally in Los Angeles County until Orange County was established in 1889. It is one of the primary cultural centers of the San Gabriel Valley.
    %p Although famous for hosting the annual Rose Bowl football game and Tournament of Roses Parade, Pasadena is also the home to many scientific and cultural institutions, including the California Institute of Technology (Caltech), the Jet Propulsion Laboratory, Fuller Theological Seminary, Art Center College of Design, the Pasadena Playhouse, the Norton Simon Museum of Art and the Pacific Asia Museum.
    %p
    %h3 Public Facilities
    %p
    %p
    %h4 Rose Bowl Stadium
    %p
    %p In addition to the annual New Year's Day Rose Bowl game and the BCS National Championship game every four years, the stadium is the home field for the UCLA Bruins football team and has hosted five Super Bowls. Important soccer matches include the 1984 Summer Olympics, the final game of the 1994 FIFA World Cup, and the final game of the 1999 FIFA Women's World Cup.
    %p The Rose Bowl stadium was the home ground for the Los Angeles Galaxy of Major League Soccer from the team's inception in 1996 until in 2003, it moved into the soccer-specific Home Depot Center in Carson, California. The venue additionally hosted the 1998 MLS Cup. Many concerts and other events have been held in the stadium, such as a U2 concert in 2009.
    %p
    %h4 Aquatic Center
    %p
    %p The Rose Bowl Aquatics Center is an aquatics facility located adjacent to the Rose Bowl Stadium. The pool hosted the final practices of the 2000 US Olympic swimming and diving team. In 2008, the facility held the U.S. National Diving Championships.
    %p
    %h4 Tennis Center
    %p
    %p The Rose Bowl Tennis Center, operated by the city of Pasadena, is located due south of the Rose Bowl stadium.
    %p
    %h3 Airports
    %p
    %p Bob Hope Airport (also known as Burbank-Glendale-Pasadena Airport) in nearby Burbank serves as the regional airport for Pasadena. The airport is owned and operated by the Burbank-Glendale-Pasadena Airport Authority. The airport is under the control of the governments of the three cities for which it is named. Most destinations from Bob Hope Airport are within the United States, so Los Angeles International Airport in Los Angeles and LA/Ontario International Airport in Ontario are also important airports less than an hour from Pasadena. Long Beach Airport in Long Beach, California, is about an hour's drive away. John Wayne Airport in Orange County, California, is slightly more than an hour’s drive away from Pasadena.
    %p
    %h3 Climate
    %p
    %p Pasadena has a hot-summer Mediterranean climate (Köppen climate classification Csa). Because of its position both higher and further inland than Los Angeles, it experiences slightly colder winters and slightly hotter summers. Winters are typically mild and wet, with heavy rains and January night temperature occasionally dipping just below freezing (daytime highs in winter typically fluctuate between the 60's and low 70's). Spring is consistently warm and temperatures increase gradually culminating in hot summers which last well into October. Fall is short and erratic; often cooler, rainy days will be followed by hot, dry ones.
    %img{alt: "Img", src: "assets/_temp/06.jpg"}/
    %p The wettest year was 1983 with 48.47 inches (1,231 mm) and the driest year was 1947 with 5.37 inches (136 mm). The most rainfall in one month was 19.70 inches (500 mm) in February 1980. The most rainfall in 24 hours was 7.70 inches (196 mm) on March 2, 1938. Pasadena averages 21 inches (530 mm) of rain a year, about 6 inches more than nearby Los Angeles due to the rain shadow effect created by the San Gabriel Mountains. Because of the slope on which the city is built, sewer lines in the city's northern section have been known to overflow spectacularly.
    %p Situated at the base of the San Gabriel Mountains, snow is known to fall occasionally in Pasadena. The heaviest snowfall in Pasadena history occurred on January 11, 1949; 6 inches fell at Pasadena's city hall and more than 12 inches (300 mm) fell in the foothills of the city.[78] The most recent snowfall in Pasadena was 1 inch (25 mm) on February 26, 2011.
    %p On November 30 and December 1, 2011, Pasadena, along with surrounding communities, was struck by a major windstorm caused by Santa Ana winds[citation needed]. The city suffered heavy damage with trees toppled, buildings damaged and even the roof of a gas station torn off. Some[who?] dubbed the event "Hurricane Rose".
    #li-footer
      %h2{style: "border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;"} Surrouding Cities
      = succeed "," do
        %a{href: "", title: "Alhambra"} Alhambra
      = succeed "," do
        %a{href: "", title: "Arcadia"} Arcadia
      = succeed "," do
        %a{href: "", title: "San Marino"} San Marino
      %a{href: "", title: "Temple City"} Temple City
      and
      = succeed "." do
        %a{href: "", title: "Los Angeles"} Los Angeles
    / end id li-footer
  / end id content
  #sidebar
    %h2{style: "border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;"} Weather for Pasadena, CA
    %img{alt: "Img", src: "assets/_temp/07.jpg"}/
    %h2{style: "border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;"} Races in Pasadena, CA
    %img.imgneg{alt: "Img", src: "assets/_temp/08.jpg"}/
    %h2{style: "border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;"} Population for Pasadena, CA
    %img{alt: "Img", src: "assets/_temp/09.jpg"}/
  / end id sidebar